.chart-container {
    position: relative;
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Flexbox for the canvas */
canvas {
    display: block;
    width: 100% !important;
    height: 100% !important;
}

/* Media query to adjust the chart for smaller screens */
@media (max-width: 600px) {
    .chart-container {
        height: 30vh;  /* Reduce height on smaller screens */
        width: 100%;
    }

    .canvas {
        height: 100%;  /* Reduce height on smaller screens */
        width: 100%;
    }
}
